.me-content {
  display: block;
  text-align: center;
  .mecontent-style-img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .text-content {
    line-height: 40px;

    color: #d7ecff;
    font-weight: bolder;
    font-size: 1.1em;
    font-family: "Orbitron", sans-serif;
    text-shadow: 0 0 1px #fff,0 0 5px #fff,0 0 15px #228dff;

  }
}