<contact-acton class="me-content">
<img class="mecontent-style-img" src="http://zhanglong292383147.gitee.io/picture_images/picture/me/我的微信二维码.jpg"  alt="我的微信" />
<p class="text-content">如果大家有任何疑问请给我留言，小编会及时回复大家的。在此也非常感谢大家对我的网站的支持！谢谢！</p>
</contact-acton>